01-smart-triage-ai/TEMPLATE - Smart-Triage AI (Miner).json
{
  "name": "TEMPLATE - Smart-Triage AI (Miner)",
  "nodes": [
    {
      "parameters": {
        "batchSize": 10,
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1008,
        -144
      ],
      "id": "ea67d491-0e34-49fe-897f-6c60f5a35137",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "threadId",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        784,
        -144
      ],
      "id": "253059a2-4fd8-4dd8-afc8-241cb2e5c9da",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "content": "## 🚀 Getting Started: Smart-Triage AI\n\n### 1. Create the Gmail Label (Mandatory) Before running this workflow, you must create the label in your Gmail account. \n\nStep 1: Open Gmail and go to Settings (gear icon) > See all settings.\n\nStep 2: Go to the Labels tab.\n\nStep 3: Scroll down to \"Labels\" and click Create new label.\n\nStep 4: Name it exactly: n8n-processed (all lowercase, no spaces).\n\nWhy? The workflow uses this label to mark emails as \"done\" so they aren't processed twice.\n\n### 2. Node Configurations\n\nSchedule Trigger: Set to run every 5 minutes (ideal for processing large archives in stable batches).\n\nGet many messages: Paste the bilingual search query in the Query field. Ensure it includes -label:n8n-processed.\n\nRemove Duplicates: Uses the Message ID to ensure data integrity before the loop.\n\nLoop Over Items: Sends emails one-by-one to the Sub-Workflow. This \"Micro-Batch\" approach prevents server timeouts.\n\nSend a message: (Optional) Configure this to notify you (via Email or Slack) once a full batch of \"Digital Mining\" is complete.\n\n### ⚠️ ACTION REQUIRED: RELINK SUB-WORKFLOW.\n\nSelect & Cut: Select all nodes in the \"Sub-Workflow\" section (on the right) and press Cmd/Ctrl + X.\n\nCreate New: Click the \"+\" in the top left to create a new workflow and paste the nodes there (Cmd/Ctrl + V).\n\nSave: Save the new workflow as \"Smart-Triage AI: Sub-Workflow\".\n\nConnect: Go back to the \"Main\" workflow, open the Execute Workflow node, and select your newly saved sub-workflow from the dropdown list.",
        "height": 816,
        "width": 896
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -704,
        -160
      ],
      "typeVersion": 1,
      "id": "f6d89754-fde0-4f30-a24e-892af4d7e8d7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "id"
            },
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1232,
        -400
      ],
      "id": "e6ac8830-3216-4a27-8e6b-9b22a74a63a5",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "0a724c19-06a0-4c30-9456-da91ca70f3cd",
      "typeVersion": 1.1,
      "name": "When Executed by the main workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        352,
        352
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "notesInFlow": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jEt2ZwABGlC8KvFm",
          "mode": "list",
          "cachedResultUrl": "/workflow/jEt2ZwABGlC8KvFm",
          "cachedResultName": "TEMPLATE - Smart-Triage AI (Miner) SubWorklow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1232,
        -128
      ],
      "id": "2a0bbb4e-08fb-4cbd-a75f-4e5029029469",
      "name": "Call 'TEMPLATE - Smart-Triage AI (Miner) SubWorklow'"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        336,
        -144
      ],
      "id": "7ff0783e-3fc2-4618-b1fa-8730e2826164",
      "name": "Scheduled to run every x minutes",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "subject": "n8n Flow Execution",
        "message": "The batch of emails has been processed successfully.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1424,
        -400
      ],
      "id": "5753d610-1ba5-412d-831e-03baf89c3d51",
      "name": "Send workflow run completion message",
      "webhookId": "1ba92cc7-c43a-4e2f-b1d4-1a1637b43c81",
      "credentials": {
        "gmailOAuth2": {
          "id": "ItpZFEH4MnjaPE7x",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        544,
        352
      ],
      "id": "677f914d-0eab-4b54-9faa-16a0c3127d76",
      "name": "Obtain the message content for analysis",
      "webhookId": "8e02a044-437c-4662-b29d-bf586a0450c2",
      "retryOnFail": true,
      "maxTries": 2,
      "notesInFlow": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "tvT4MLP2FcVpZBYJ",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=N8n Email Analysis Prompt\n\nTu es un automate d'extraction de données techniques pour un CRM. Ton rôle est de qualifier la pertinence d'un email et d'extraire les données de contact de l'EXPÉDITEUR.\n\nRÈGLE N°1 : FORMAT\n\nRéponds uniquement en JSON pur. INTERDICTION absolue d'utiliser du Markdown (pas de ```json). Commence ton message directement par \"{\".\n\nRÈGLE N°2 : ANALYSE DE PERTINENCE (RELEVANT)\n\nTu dois marquer \"relevant\": true si l'OBJET (Subject) OU le CORPS (Texte) du message indique une demande réelle, un projet, une collaboration ou une pièce comptable liée aux domaines de la création (Photo, Vidéo, Culinaire).\n\nMots-clés cibles (Recherche sémantique) : Shooting, Photo, Photographie, Prises de vue, Culinaire, Portrait, Image, Video, Devis, Budget, Facture client, approche esthétique, réseaux sociaux, moodboard, Brief, Collaboration, Proposition, Lumière, Informations, Chefs, Fourchette de prix, Communication, Marketing, Projet, Contrat, Recettes, Styliste, Règlement, Facturation, Paiement, Packshots, Cadrages, Sélection, Cession de droits.\n\nExceptions prioritaires (Marque \"relevant\": false si) :\n\n* L'expéditeur est \"Delphine Constantini\" ou \"Julien Amar\" (emails internes).\n* Le message est une notification automatique (LinkedIn, Newsletter, Confirmation de commande).\n* Le message est administratif ou médical (Doctolib, Assurance, Facture d'abonnement type Free/EDF).\n* Les mots-clés ne sont présents QUE dans la signature de Delphine Constantini et non dans le texte écrit par l'expéditeur.\n* Mails automatiques où les mots-clés ne sont présents que dans le footer ou la description du profil de Delphine.\n\nRÈGLE N°3 : EXTRACTION DES DONNÉES\n\nSi relevant est true, extrais les informations de l'expéditeur :\n* Identité : Ignore Julien Amar et Delphine Constantini. Cherche le nom de celui qui écrit.\n* Société : Nom de l'entreprise de l'expéditeur. Laisse vide si c'est un particulier.\n* Email : Cherche par priorité dans 1. Le texte, 2. Le champ Reply-To, 3. Le champ From.\n\nSTRUCTURE JSON :\n\n{\n  \"relevant\": boolean,\n  \"prenom\": \"string\",\n  \"nom\": \"string\",\n  \"email\": \"string\",\n  \"telephone\": \"string\",\n  \"societe\": \"string\",\n  \"date\": \"{{ $json.date }}\"\n}\n\nDONNÉES À ANALYSER :\n\n* From : {{ $json.From }}\n* Objet : {{ $json.Subject }}\n* Texte : {{ ($json.text || $json.snippet || $json.html).substring(0, 5000) }}\n* Reply To : {{ $json.To }}\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        704,
        352
      ],
      "id": "7bc00181-daa3-45a0-bf31-fc2cc0a11cc8",
      "name": "Ask AI to analyse emails ",
      "credentials": {
        "openAiApi": {
          "id": "344466C1iTIh2GtU",
          "name": "OpenAi account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "846e8391-16b3-4e96-a114-17db01836bcd",
              "name": "ID_Gmail",
              "value": "={{ $('Obtain the message content for analysis').item.json.id }}",
              "type": "string"
            },
            {
              "id": "4ea5615b-7378-412c-84ca-68edfe473771",
              "name": "relevant",
              "value": "={{ JSON.parse($json.output[0].content[0].text).relevant ?? false }}",
              "type": "boolean"
            },
            {
              "id": "4a494cdc-c726-4468-8403-9d488c80802b",
              "name": "prenom",
              "value": "={{ JSON.parse($json.output[0].content[0].text).prenom ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "b345820c-0c55-4991-acca-2c62f3355385",
              "name": "nom",
              "value": "={{ JSON.parse($json.output[0].content[0].text).nom ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "cf5176a1-3c0f-4e4a-9823-c1962fe5e763",
              "name": "email",
              "value": "={{ JSON.parse($json.output[0].content[0].text).email ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "cf1f1a87-1f0b-4aa8-b569-3a13a0cc3435",
              "name": "societe",
              "value": "={{ JSON.parse($json.output[0].content[0].text).societe ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "8a867b49-1430-4b78-9670-b5441cbf9c8a",
              "name": "telephone",
              "value": "={{ JSON.parse($json.output[0].content[0].text).telephone ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "02de9b68-d7e7-4fda-8fdb-265bcd860d98",
              "name": "date",
              "value": "={{ JSON.parse($json.output[0].content[0].text).date ?? $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        336
      ],
      "id": "195d5c0f-dceb-4cda-a69c-5a712caf4916",
      "name": "Map data to structured JSON"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "56089aa4-4ec2-42a5-aa20-7104598fc5ff",
              "leftValue": "={{ $json.relevant }}",
              "rightValue": "false",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1312,
        336
      ],
      "id": "d290abf9-2013-45a3-85cf-d27a849dd882",
      "name": "Check if Email is relevant",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1KA04AX891iEdTwCws3Wo64SgofxOskcWxtJguF3A_zs",
          "mode": "list",
          "cachedResultName": "LISTING CONTACTS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KA04AX891iEdTwCws3Wo64SgofxOskcWxtJguF3A_zs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 991652550,
          "mode": "list",
          "cachedResultName": "VRAC",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KA04AX891iEdTwCws3Wo64SgofxOskcWxtJguF3A_zs/edit#gid=991652550"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Prénom": "={{ $json.prenom }}",
            "Nom": "={{ $json.nom }}",
            "Email": "={{ $json.email }}",
            "Société": "={{ $json.societe }}",
            "Téléphone": "={{ $json.telephone }}",
            "Date d'interaction": "={{ $json.date }}",
            "ID_Gmail": "={{ $json.ID_Gmail }}",
            "Date de traitement": "={{ $now.toFormat('dd/MM/yyyy HH:mm:ss') }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Prénom",
              "displayName": "Prénom",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nom",
              "displayName": "Nom",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Société",
              "displayName": "Société",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Téléphone",
              "displayName": "Téléphone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Statut",
              "displayName": "Statut",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date d'interaction",
              "displayName": "Date d'interaction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Synchronisé",
              "displayName": "Synchronisé",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID_Gmail",
              "displayName": "ID_Gmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date de traitement",
              "displayName": "Date de traitement",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1520,
        208
      ],
      "id": "2c93de49-0034-42c0-83fe-90a7f1dc7f8b",
      "name": "Add/Update row with contact details",
      "retryOnFail": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DDl9uknVMhjXbmTH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1824,
        336
      ],
      "id": "119437cc-f11f-4d06-b9d8-a18bcdc73d99",
      "name": "Consolidate analysed data"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.ID_Gmail }}",
        "labelIds": [
          "Label_3746955624273396547"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2016,
        336
      ],
      "id": "ed39d8e6-eddd-413d-9cf4-fb43a83184fe",
      "name": "Mark as processed the message with a label",
      "webhookId": "7ffd0eb6-50fc-4441-b16d-07e447450f32",
      "credentials": {
        "gmailOAuth2": {
          "id": "tvT4MLP2FcVpZBYJ",
          "name": "Gmail account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "**Gmail inbox retrieval and duplicate removals**",
        "height": 272,
        "width": 416,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        496,
        -208
      ],
      "typeVersion": 1,
      "id": "d25e0ac7-ab02-4fd1-8ef4-c12f1041d86d",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "**For each email retrieved, the subflow analyses the content via AI and update Google Sheet with contact details**",
        "height": 272,
        "width": 480,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        944,
        -208
      ],
      "typeVersion": 1,
      "id": "2a071e47-66e4-4b89-a2ab-5570e53ef6c1",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "**Send confirmation email after successful run**",
        "height": 208,
        "width": 448,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1200,
        -432
      ],
      "typeVersion": 1,
      "id": "94295c28-f7f4-4b55-a2cc-7aeb327a6f9f",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "operation": "getAll",
        "simple": false,
        "filters": {
          "q": "=<your own search query>",
          "receivedAfter": "2023-01-01T00:00:00"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        592,
        -144
      ],
      "id": "c158ba6b-62ad-439b-94b3-8221166f5748",
      "name": "Get many messages",
      "webhookId": "d411b2ae-ef47-43c0-8846-422f84fc845f",
      "alwaysOutputData": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "ItpZFEH4MnjaPE7x",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "**Retrieve Email content and ask AI to extract data, analyse contact details and produce structured JSON output**",
        "height": 272,
        "width": 704,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        512,
        288
      ],
      "typeVersion": 1,
      "id": "840d9a85-846a-4920-950a-2e80dcb38c99",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "**Retrieve Email content and ask AI to extract data and  analyse contact details**",
        "height": 432,
        "width": 464,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1232,
        128
      ],
      "typeVersion": 1,
      "id": "220ffea9-5df6-45eb-b80a-393d42b1cd92",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "**Add label to the message to mark it as processed**",
        "height": 272,
        "width": 464,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1744,
        288
      ],
      "typeVersion": 1,
      "id": "73990ef7-215e-40ff-adef-26cd9f8aa357",
      "name": "Sticky Note7"
    }
  ],
  "pinData": {},
  "connections": {
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'TEMPLATE - Smart-Triage AI (Miner) SubWorklow'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Send workflow run completion message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by the main workflow": {
      "main": [
        [
          {
            "node": "Obtain the message content for analysis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtain the message content for analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'TEMPLATE - Smart-Triage AI (Miner) SubWorklow'": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scheduled to run every x minutes": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtain the message content for analysis": {
      "main": [
        [
          {
            "node": "Ask AI to analyse emails ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask AI to analyse emails ": {
      "main": [
        [
          {
            "node": "Map data to structured JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map data to structured JSON": {
      "main": [
        [
          {
            "node": "Check if Email is relevant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Email is relevant": {
      "main": [
        [
          {
            "node": "Add/Update row with contact details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Consolidate analysed data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Add/Update row with contact details": {
      "main": [
        [
          {
            "node": "Consolidate analysed data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidate analysed data": {
      "main": [
        [
          {
            "node": "Mark as processed the message with a label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "076d262b-f257-4acd-80ce-a108b678ff10",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b8be1b20852d1baf813d0a55099e674b4996e06023f8ce6a3d1d2bbcba79e02b"
  },
  "id": "UdB9tCCIYCx6FVtu",
  "tags": [
    {
      "updatedAt": "2026-01-11T21:31:00.871Z",
      "createdAt": "2026-01-11T21:31:00.871Z",
      "id": "cR1jOkcEOpTRcabL",
      "name": "Template"
    }
  ]
}